@import "~reset-scss/reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

$branding-color: #f60;
$loader-background-color: #ededed;
$black: #000000;
$white: #ffffff;
$gradient: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);

@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0; 
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;

    .nav {
        background: $branding-color;
    }


    .container {
        max-width: 1200px;
        margin: 0px 16px;

        @media screen and (max-width: 414px) {
            max-width: 320px;
            margin: auto 20px;
        }

        @media screen and (max-width: 768px) {
            max-width: 720px;
        }

        @media screen and (min-width: 900px) {
            margin: 60px auto;
        }

        &.nav-branding-container {
            margin: 0px 16px;
            display: flex;

            @media screen and (min-width: 768px) {
                margin: 0px auto;
            }

    
        }

        .nav-home-link {
            display: flex;

            .nav-branding-title {
                line-height: 4.5rem;
                margin: 0 16px;
            }
        }

        .nav-branding-logo {
            height: 75px;
        }

        .top-sellers {
            h1 {
                margin-bottom: 32px;
                border-bottom: 5px solid $black;
                line-height: 4rem;
                font-size: 2rem;
            }
        }

        .collection {
            &.error {
                display: flex !important;
                flex-direction: column;
                align-items: center;

                .error-header {
                    h2 {
                        margin: 36px;
                        font-size: 2rem;
                    }
                }

                .error-description {
                    font-size: 1.2rem;

                    p{
                        margin-bottom: 16px;
                    }
                }
            }

            .loader {
                width: 100%;
                
                .product-container {

                    .product {
                        width: 172px;
                        height: 100%;
                        margin: auto 16px;

                        &:first-child {
                            margin-left: 0;
                        }

                        &:last-child {
                            margin-right: 0;
                        }

                        &__image, &__name, &__author  {
                            background: $loader-background-color;
                            background-image: $gradient;
                            display: block;
                            width: 100%;
                            animation: shimmer 8s ease infinite forwards;
                        }

                        &__image {
                            min-height: 200px;
                        }

                        &__name, &__author  {
                            min-height: 20px;
                        }
                    }
                }
                
            }

            .product-container {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
                grid-gap: 40px 20px;

                .product {
                    &__link {
                        color: $black;
                        text-decoration: none;
                    }
                
                    &__details {
                        margin: 16px auto;
                    }

                    &__image {
                        background-color: $loader-background-color;
                        display: block;
                        min-height: 100px;
                        width: 100%;
                    }

                    &__name {
                        font-weight: bold;
                        line-height: 1.8rem;
                    }

                    &__name, &__author {
                        font-family: 'Jost', sans-serif;
                        font-size: 16px;
                    }

                    &__author {
                        margin: 8px auto;
                    }
                }
            }
        }
    }
}


